<div class="top-wrapper bg-cover bg-center relative h-screen bg-gray-100">
  <div class="top-inner-text absolute top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center text-3xl text-black">
    <h1>恥ずかしさを笑いに！！</h1>
    <p>あなたも恥ずかすかった経験を投稿してみませんか？</p>
    <p>そしてそれをミニゲームにしませんか？</p>
     <%= link_to 'ゲームする', games_shooting_path, class: 'px-8 py-3 font-semibold rounded bg-red-300 dark:text-gray-100' %>
  </div>
  </div>
</div>