<% content_for(:title, "投稿一覧") %>
<div class="container mx-auto pt-3">
  <div class="flex justify-center">
    <div class="w-full max-w-4xl">
      <!-- 検索フォーム -->
      <form>
        <div class="flex mb-5 mt-5 w-80">
          <button type="submit" class="bg-red-300 text-white px-4 py-2 rounded-l">検索</button>
          <input class="flex-grow p-2 border border-gray-300 rounded-r" placeholder="検索ワード" type="search"/>
        </div>
      </form>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="flex flex-wrap justify-center">
    <div class="w-full max-w-4xl grid grid-cols-1 sm:grid-cols-3 gap-5">
      <% if @boards.present? %>
        <%= render @boards %>
      <% else %>
        <div class="mb-3">掲示板がありません</div>
      <% end %>
    </div>
  </div>
</div>
