<% content_for(:title, @board.title) %>
<%= render 'boards/board', board: @board %>
  <div class="flex flex-col max-w-lg p-6 space-y-6 overflow-hidden rounded-lg shadow-md dark:bg-gray-50 dark:text-gray-800 mx-auto my-4">
    <%= render 'comments/form', board: @board, comment: @comment %>
	<%= render 'comments/comment', comments: @comments %>
  </div>
